[run]
source = .
omit =
    */migrations/*
    tests/*
    manage.py
    core/settings.py
    core/wsgi.py
    core/asgi.py
    venv/*
    core/settings_test.py
    */tests.py

[report]
show_missing = True
